{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/home.css' %}" rel="stylesheet"  type="text/css">
    <link href="{% static 'css/workout.css' %}" rel="stylesheet"  type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}" >
    <link rel="canonical" href="https://www.alanbignon.com">
    <meta name="theme-color" content="#rgb(240 240 232)">
    <title>Alan Bignon</title>
</head>