{% load static %}

{% include "head.html" %} 
<body>
    {% include "header.html" %}

    <section id="about_me">
        <div id="about_me_txt">
            {% if lang == "en" %}
            <h1 id="about_me_accroche">A great addition to your team !</h1>
            <p id="about_me_phrase">
                I'm Alan, a passionate developer with a strong interest in technology and data. 
                I enjoy working on challenging projects and constantly improving my skills across multiple domains.
            </p>
            {% endif %}

            {% if lang == "fr" %}
            <h1 id="about_me_accroche">Un excellent ajout à votre équipe !</h1>
            <p id="about_me_phrase">
                Je suis Alan, un développeur passionné avec un fort intérêt pour la technologie et la data.
                J'aime travailler sur des projets stimulants et améliorer constamment mes compétences dans plusieurs domaines.
            </p>
            {% endif %}
        </div>
        <img src="{% static 'images/me.png' %}" id="img_me">
        <div id="logo_liens">
            <a href="https://github.com/XeroBis" target=”_blank”>
                <img src="{% static 'images/github_logo.png' %}" class="logo">
            </a>
            <a href="https://www.linkedin.com/in/alan-bignon/" target=”_blank”>
                <img src="{% static 'images/linkedin_logo.png' %}" class ="logo">
            </a>
        </div>
    </section>

    <section id="projects">
        {% for projet in projets %}
            <div class="project">
                <div class="project_div">
                    {% if lang == "en" %}
                        <div class="project_title">{{ projet.title_en }}</div>
                        <div class="project_description">{{ projet.description_en }}</div>
                    {% endif %}
                    {% if lang == "fr" %}
                        <div class="project_title">{{ projet.title_fr }}</div>
                        <div class="project_description">{{ projet.description_fr }}</div>
                    {% endif %}

                    <div class="project_tags">
                    {% for tag in projet.tags.all %}
                        <span class="tag">{{ tag.name }}</span>
                    {% endfor %}
                    </div>
                    <a href="{{ projet.github_url }}" target=”_blank”>
                        <img src="{% static 'images/github_logo.png' %}" class="logo">
                    </a>
                    
                </div>
            </div>
        {% endfor %}
        </div>

    </section>

    <section id="cv">
        {% if lang == "fr" %}
        <div id="cv_title">Mon CV</div>
        <a href="{% static 'files/bignon_alan_cv.pdf' %}" download="bignon_alan_cv" id="download_cv">cliquer ici pour le télécharger</a>
        {% endif %}
        {% if lang == "en" %}
        <div id="cv_title">My Resume</div>
        <a href="{% static 'files/bignon_alan_cv.pdf' %}" download="bignon_alan_cv" id="download_cv">click here to download pdf</a>
        {% endif %}
    </section>
</body>
</html>