
.container_workout, .container_add_workout {
    max-width: 800px;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#l_workout, #name_add_workout {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.workout_date_type {
    padding-bottom: 2%;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th, table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #f8f9fa;
    font-weight: bold;
}

table tr:hover {
    background-color: #f1f1f1;
}

table tr td {
    color: #555;
}
#load-more, #btn_add_workout {
    display: block;
}
#load-more, #btn_add_workout, #btn_add_exercise {
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background-color: #b8a77c;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}


/* Hover effect */
#load-more:hover, #btn_add_workout:hover, #btn_add_exercise:hover {
    background-color: #b8ab8aac;
}

#load-more:active, #btn_add_workout:active, #btn_add_exercise:active {
    transform: scale(0.95);
}

/* ADD MORE WORKOUT */
.container_add_workout {
    margin-bottom: 20px;
    padding: 10px;
    box-sizing: border-box;
}
#add_workout_type_workout, #add_workout_date {
    border: 2px solid #888888;
    border-radius: 4px;
    font-size: 14px;
}

#name_add_workout {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

#exercises {
    padding-top: 20px;
}
.label_workout {
    font-weight: bold;
}
.exercise-header, .exercise {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

.exercise-header {
    background-color: #f8f9fa;
    font-weight: bold;
}

#btn_add_exercise {
    display: none;
}

.workout_input {
    flex: 1;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    color: #555;
    width: 100%;
    align-items: center;
    box-sizing: border-box;
}

.workout_input:hover {
    background-color: #f1f1f1;
}

#add_workout_date_type {
    width: 100%;
    display: grid;
    align-items: center;
    gap: 10px;
    justify-items: center
}

.form-group {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 1%;
    padding-bottom: 1%;
}
/* BOUTON Delete row */
.add_workout_btn_delete {
    background-color: #ffffff;
    color: white; 
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-left: 10px;
}

.add_workout_btn_delete:hover {
    background-color: #c4c4c48c;
}

.add_workout_btn_delete:active {
    background-color: #990000;
}
