{% load static %}

{% include "head.html" %}
<body>
{% include "header.html" %}
<div class="container_add_workout">
<h1 id="name_add_workout">
    {% if lang == "fr" %}Ajout Séance{% endif %}
    {% if lang == "en" %}Add Workout{% endif %}
</h1>
<form method="post">
    {% csrf_token %}
    <div id="add_workout_date_type">
        <div class="form-group">
            <label for="date" class="label_workout">Date :</label>
            <input type="date" id="add_workout_date" name="date" required>
        </div>
        <div class="form-group">
            <label for="duration" class="label_workout">
                {% if lang == "fr" %}Durée :{% endif %}
                {% if lang == "en" %}Duration :{% endif %}
            </label>
            <input type="number" id="add_workout_duration" name="duration" required>
        </div>
        <div class="form-group">
            <label for="type_workout" class="label_workout">
                {% if lang == "fr" %}Type de séance :{% endif %}
                {% if lang == "en" %}Type of workout :{% endif %}
            </label>
            <select id="add_workout_type_workout" name="type_workout" required>
                <option value="">
                    {% if lang == "fr" %}Sélectionner un type{% endif %}
                    {% if lang == "en" %}Select a type{% endif %}
                </option>
                <option value="Pull">Pull</option>
                <option value="Push">Push</option>
                <option value="Legs">Legs</option>
                <option value="CrossFit">CrossFit</option>
            </select>
        </div>
    </div>
    <div id="exercises">
    </div>
    <button type="button" id="btn_add_exercise">
        {% if lang == "fr" %}Ajouter un exercice{% endif %}
        {% if lang == "en" %}Add Exercise{% endif %}
    </button>
    <button type="submit" id="btn_add_workout" class="cliquable">
    {% if lang == "fr" %}Enregister Séance{% endif %}
    {% if lang == "en" %}Save Workout{% endif %}
    </button>
</form>
</div>
<script>
    document.getElementById('btn_add_exercise').addEventListener('click', function() {
        fetch('/en/workout/get_list_exercice/')
                .then(response => response.json())
                .then(data => {
                    const exercisesContainer = document.getElementById('exercises');
                    
                    let exerciseCount = document.querySelectorAll('.exercise').length;

                    let ex_name = "Exercice"
                    let nb_series = "Séries"
                    let nb_rep = "Répétitions"
                    let weight = "Poids (kg)"

                    if (document.getElementById("my_projects").innerHTML === "Home") {
                        ex_name = "Exercise";
                        nb_series = "Series";
                        nb_rep = "Repetitions";
                        weight = "Weight (kg)";
                    }

                    const exerciseDiv = document.createElement('div');
                    exerciseDiv.className = 'exercise';
                    exerciseDiv.id = `exercise_row_${exerciseCount}`;

                    let exerciseOptions = data.all_exercises.map(ex => 
                                `<option value="${ex}">${ex}</option>`
                            ).join('');

                    exerciseDiv.innerHTML = `
                        <select class="workout_input" id="exercise_${exerciseCount}_name" name="exercise_${exerciseCount}_name" required>
                                    ${exerciseOptions}
                                </select>
                        <input type="number" class="workout_input" id="exercise_${exerciseCount}_nb_series" name="exercise_${exerciseCount}_nb_series" placeholder="${nb_series}" required>
                        <input type="number" class="workout_input" id="exercise_${exerciseCount}_nb_repetition" name="exercise_${exerciseCount}_nb_repetition" placeholder="${nb_rep}" required>
                        <input type="number" class="workout_input" id="exercise_${exerciseCount}_weight" name="exercise_${exerciseCount}_weight" placeholder="${weight}" required>
                        <button type="button" class="add_workout_btn_delete" onclick="deleteExercise(${exerciseCount})">❌</button>
                    `;

                    exercisesContainer.appendChild(exerciseDiv);
                    exerciseCount++;
                });
    });

    document.getElementById('add_workout_type_workout').addEventListener('change', function() {
        const selectedType = this.value;
        if (selectedType) {
            fetch(`/en/workout/get_last_workout/?type=${selectedType}`)
                .then(response => response.json())
                .then(data => {
                    if (data.date) {
                        document.getElementById('add_workout_date').value = data.date;
                    }

                    document.getElementById('btn_add_exercise').style.display = "block";
                    const exercisesContainer = document.getElementById('exercises');
                    const acc = document.getElementById("my_projects").innerHTML;
                    var ex_name = "Exercice"
                    var nb_series = "Séries"
                    var nb_rep = "Répétitions"
                    var weight = "Poids (kg)"
                    if (acc == "Home") {
                        ex_name = "Exercise"
                        nb_series = "Series"
                        nb_rep = "Repetitions"
                        weight = "Weight (kg)"
                    }
                    
                    exercisesContainer.innerHTML = '';
    
                    if (data.exercises && data.exercises.length > 0) {
                        const headerRow = document.createElement('div');
                        headerRow.className = 'exercise-header';
                        headerRow.innerHTML = `
                            <span>${ex_name}</span>
                            <span>${nb_series}</span>
                            <span>${nb_rep}</span>
                            <span>${weight}</span>
                        `;
                        exercisesContainer.appendChild(headerRow);

                        data.exercises.forEach((exercise, index) => {
                            const exerciseDiv = document.createElement('div');
                            exerciseDiv.className = 'exercise';
                            exerciseDiv.id = `exercise_row_${index}`;

                            let exerciseOptions = data.all_exercises.map(ex => 
                                `<option value="${ex}" ${exercise.name === ex ? 'selected' : ''}>${ex}</option>`
                            ).join('');

                            exerciseDiv.innerHTML = `
                                <select class="workout_input" id="exercise_${index}_name" name="exercise_${index}_name" required>
                                    ${exerciseOptions}
                                </select>
                                <input type="number" class="workout_input" id="exercise_${index}_nb_series" name="exercise_${index}_nb_series" value="${exercise.nb_series}" required>
                                <input type="number"  class="workout_input" id="exercise_${index}_nb_repetition" name="exercise_${index}_nb_repetition" value="${exercise.nb_repetition}" required>
                                <input type="number" class="workout_input" id="exercise_${index}_weight" name="exercise_${index}_weight" value="${exercise.weight}" required>
                                <button type="button" class="add_workout_btn_delete" onclick="deleteExercise(${index})">❌</button>
                            `;

                            exercisesContainer.appendChild(exerciseDiv);
                        });
                    }
                });
        }
    });
    
    function deleteExercise(index) {
        const exerciseRow = document.getElementById(`exercise_row_${index}`);
        if (exerciseRow) {
            exerciseRow.remove();
        }
    }
</script>
</body>