{% load static %}

{% load custom_filters %}

{% include "home/head.html" %} 
<body>
    {% include "home/header.html" %}
    <div class="container_workout">
        <h1 id="l_workout">
            {% if lang == "fr" %} Séances de sports {% endif %}
            {% if lang == "en" %} Workout Sessions {% endif %}
        </h1>
        {% if user.is_authenticated %}
        {% if lang == "fr" %}
        <a href="/fr/sports/ajout_seance/">
            <button id="btn_add_workout" class="cliquable">Ajout Séance</button>
        </a>
        {% endif %}
        {% if lang == "en" %}
        <a href="/en/workout/add_workout/">
            <button id="btn_add_workout" class="cliquable">Add Workout</button>
        </a>
        {% endif %}
        {% endif %}

        <div id="workout-list">
            {% for data in workout_data %}
            <div>
                <h2 class="workout_date_type">
                    {{ data.workout.date }} - {{ data.workout.type_workout }}
                    {% if data.workout.duration > 0 %}
                        - {{ data.workout.duration|hours_minutes }}
                    {% endif %}
                </h2>
                <table>
                    <thead>
                        <tr>
                            {% if lang == "fr" %}
                            <th>Exercice</th>
                            {% if data.workout.type_workout != "CrossFit" %}
                            <th>Séries</th>
                            {% endif %}
                            <th>Répétitions</th>
                            <th>Poids (kg)</th>
                            {% endif %}
                            {% if lang == "en" %}
                            <th>Exercise</th>
                            {% if data.workout.type_workout != "CrossFit" %}
                            <th>Series</th>
                            {% endif %}
                            <th>Repetitions</th>
                            <th>Weight (kg)</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for exercise in data.exercises %}
                        <tr>
                            <td>{{ exercise.name }}</td>
                            {% if data.workout.type_workout != "CrossFit" %}
                            <td>{{ exercise.nb_series }}</td>
                            {% endif %}
                            <td>{{ exercise.nb_repetition }}</td>
                            <td>{{ exercise.weight }}</td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="5">
                                {% if lang == "fr" %}
                                Aucun exercice enregistré pour ce workout.
                                {% endif %}
                                {% if lang == "en" %}
                                No exercises recorded for this workout.
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% empty %}
            <p>
                {% if lang == "fr" %}
                Aucun workout enregistré.
                {% endif %}
                {% if lang == "en" %}
                No workouts recorded.
                {% endif %}
            </p>
            {% endfor %}
        </div>

        {% if has_next %}
        <button id="load-more" class="cliquable" data-next-page="{{ next_page_number }}">
            {% if lang == "fr" %}Charger plus{% endif%}
            {% if lang == "en" %}Load More{% endif%}
        </button>
        {% endif %}
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#load-more').click(function() {
                var nextPage = $(this).data('next-page');
                var lang = "{{lang}}";
                var name_workout = "sports"
                if (lang == "en") {
                    name_workout = "workout"
                }
                var url = "/" + lang + "/"+ name_workout + "/?page=" + nextPage;

                $.ajax({
                    url: url,
                    type: 'GET',
                    dataType: 'json',
                    headers: {
                        'X-Requested-With': 'XMLHttpRequest'
                    },
                    success: function(response) {
                        if (response.workout_data.length > 0) {
                            var html = '';
                            response.workout_data.forEach(function(data) {
                                html += '<div>';
                                html += '<h2 class="workout_date_type">Date : ' + data.workout.date + ' - Type: ' + data.workout.type_workout + '</h2>';
                                html += '<table><thead><tr>';
                                html += '{% if lang == "fr" %}<th>Exercice</th><th>Séries</th><th>Répétitions</th><th>Poids (kg)</th>{% endif %}';
                                html += '{% if lang == "en" %}<th>Exercise</th><th>Series</th><th>Repetitions</th><th>Weight (kg)</th>{% endif %}';
                                html += '</tr></thead><tbody>';
                                data.exercises.forEach(function(exercise) {
                                    html += '<tr>';
                                    html += '<td>' + exercise.name + '</td>';
                                    html += '<td>' + exercise.nb_series + '</td>';
                                    html += '<td>' + exercise.nb_repetition + '</td>';
                                    html += '<td>' + exercise.weight + '</td>';
                                    html += '</tr>';
                                });
                                html += '</tbody></table></div>';
                            });
                            $('#workout-list').append(html);
                        }

                        if (response.has_next) {
                            $('#load-more').data('next-page', response.next_page_number);
                        } else {
                            $('#load-more').remove();
                        }
                    }
                });
            });
        });
    </script>
</body>