{% load static %}
{% load i18n %}

{% include "head.html" %}

<body data-lang="{{ lang }}">
    {% include "header.html" %}
    <div class="container_add_workout">
        <h1 id="name_add_workout">
            {% trans "Edit Workout" %}
        </h1>
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="workout_id" value="{{ workout.id }}">
            <div id="add_workout_date_type">
                <div class="form-group">
                    <label for="date" class="label_workout">{% trans "Date:" %}</label>
                    <input type="date" id="add_workout_date" name="date" value="{{ workout.date|date:'Y-m-d' }}" required>
                </div>
                <div class="form-group">
                    <label for="duration" class="label_workout">
                        {% trans "Duration:" %}
                    </label>
                    <input type="number" id="add_workout_duration" name="duration" value="{{ workout.duration }}" required>
                </div>
            </div>
            <div id="exercises">
            </div>
            <button type="button" id="btn_add_exercise" onclick="addExercice()">
                {% trans "Add Exercise" %}
            </button>
            <button type="submit" id="btn_add_workout" class="cliquable">
                {% trans "Update Workout" %}
            </button>
        </form>
    </div>
    {{ translations|json_script:"add-workout-translations" }}
    {{ workout_data|json_script:"workout-data" }}
    <script src="{% static 'js/edit_workout.js' %}"></script>
</body>